firstproject/.idea/workspace.xml
firstframework/.idea/workspace.xml
firstframework/log/
firstframework/vendor/
firstframework/composer.lock
firstframework/cache/
yii/.idea/workspace.xml
composer/.idea/workspace.xml
